@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">Creating a persistent storage of employee information, adding new employees, and viewing individual employee details.</p>
    <p><a href="http://iantipson.com/2016/01/26/assignment-2/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>INT422 assignment 2 - developed by Daniel Brennan.  </p>
        <p><a class="btn btn-default" href="../Employee">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Developer: Dan Brennan <br /> <a href="mailto:Dtbrennan1@myseneca.ca">dtbrennan1@myseneca.ca</a> <br /> Phone: 555-555-5555</p>
    </div>
</div>